body{
	margin: 0;
	padding: 0;
}
div{
	width: 200px;
	height: 200px;
	position: static;
}
.hijo1{
	background-color: #ee3e64;
}
.hijo2{
	background-color: #44accf;
}
.hijo3{
	background-color: #b7d84b;
}